.container{
  overflow: hidden;
  overflow-x: hidden;
  box-shadow: -5px 0 15px rgb(0 0 0 / 20%);
}
.head{
  background-color: rgb(250,211,71);
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 10px 50px 5px;
  z-index: 1;
}

.big{
  color: brown;
  font-size: 40px;
  z-index: 7;
}

.decorationBar{
  background-color: rgba(255,255,255,0.4);
  border-radius: 20px;
  height: 30%;
  width: 80%;
  position: absolute;
  top: 35px;
  left: 60px;
  z-index: 6;
}

.card{
  margin-bottom: 10px;
}

.col{
  font-size: 20px;
  font-weight: 550;
  padding: 5px 30px;
}

.payCountSum{
  font-size: 40px;
  color: #68c39f;
  float: right;
  zoom: 1;
  padding: 5px 0!important;
}
/* 清除浮动 */
.payCountSum::after{
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.icon{
  color: black;
  font-size: 20px;
  line-height: 40px;
  vertical-align: middle;
  margin-left: 15px;
}

.calendarArray{
  line-height: 62px;
  margin-left: 15px;
}

.payOut{
  overflow: hidden;
  border-bottom: 1px solid rgba(12,12,12,0.3);
}

p{
  margin: 0;
}

.betweenText{
  display: flex;
  justify-content: space-between;
}

.income{
  padding: 25px 0 0;
}
.income div:nth-child(1){
  cursor: pointer;
  transition: all 0.2;
}
.income div:nth-child(1):hover{
  color: orange;
}

.showProgress{
  margin-top: 15px;
  margin-bottom: -15px;
}

.classify{
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: #838383;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.lamination{
  display: flex;
  flex-direction: column;
  color: #e79690;
  text-align: right;
}

.lamination span:nth-child(2){
  color: #68c39f;
}

.assetsCard{
  padding: auto 0!important;
}

.stickBlock{
  position: absolute;
  left:-35px;
  width: 15px;
  height: 30px;
  background-color: red;
}

.drawerBody{
  margin: 0;
  padding: 0;
}

a{
  color:black;
}