.head{
  background-color: rgb(250,211,71);
  position: relative;
  height: 80px;
  width: 100%;
  padding: 10px 50px 5px;
  z-index: 5;
}

.big{
  color: brown;
  font-size: 40px;
  z-index: 7;
}

.decorationBar{
  background-color: rgba(255,255,255,0.4);
  border-radius: 20px;
  height: 30%;
  width: 80%;
  position: absolute;
  top: 35px;
  left: 60px;
  z-index: 6;
}

.card{
  margin-bottom: 10px;
}

.col{
  font-size: 20px;
  font-weight: 550;
  padding: 5px 30px;
}

.payCountSum{
  font-size: 40px;
  color: rgb(7, 196, 7);
  float: right;
  zoom: 1;
  padding: 5px 0!important;
}
/* 清除浮动 */
.payCountSum::after{
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.icon{
  color: black;
  font-size: 20px;
  line-height: 40px;
  vertical-align: middle;
  margin-left: 15px;
}

.payOut{
  overflow: hidden;
  border-bottom: 1px solid rgba(12,12,12,0.3);
}

p{
  margin: 0;
}

.betweenText{
  display: flex;
  justify-content: space-between;
}

.income{
  padding: 25px 0 0;
}

.showProgress{
  margin-top: 15px;
  margin-bottom: -15px;
}