.container{
  position: absolute;
  width: 100%;
  background-color: rgb(248,248,248);
}
.head{
  background-color: rgb(250,211,71);
  top: 0;
  height: 80px;
  position: relative;
  padding: 20px 0;
  z-index: 5;
  text-align: center;
  color: brown;
}
.count{
  float: right;
  font-size: 45px;
  padding-bottom: 10px;
  padding-right: 50px;
}
.site_calendar_demo_card{
  width: 600px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin: auto;
}
.remark{
  outline: none;
  border: none;
  height: 60px;
  width: 80%;
  font-size: 20px;
  color: gray;
  background-color: rgb(248,248,248);
  margin: auto 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottonContainer{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.conserveButoon{
  height: 50px;
  font-size: 22px;
  width: 50%;
  line-height: 22px;
  background-color: orange;
  border:1px solid orange;
  border-radius: 7px;
}
.conserveAsTempButoon{
  height: 50px;
  width: 30%;
  font-size: 22px;
  line-height: 22px;
  background-color: #888;
  border:1px solid #888;
  border-radius: 7px;
}
.drawerButoon{
  margin: 60px 100px;
  width: 500px;
  height: 50px;
  font-size: 22px;
  line-height: 22px;
  background-color: orange;
  border:1px solid orange;
  border-radius: 7px;
}
.containerMove{
  margin: 80px;
  transition: all 0.5s linear;
}

.drawerBody{
  margin: 0;
  padding: 0;
}
