.container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transform: translateY(0);
  box-shadow: -5px 0 15px rgba(0,0,0,.2);
}

.body{
  margin-top: 80px;
}
.popover{
  position: absolute;
  z-index: 50;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.blank{
  width: 200px;
  margin: 250px auto 0;
  cursor: pointer;
}
.blank div{
  padding-left: 40px;
  font-size: 30px;
}
.popoverHead{
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
}
.confirm{
  position: absolute;
  cursor: pointer;
  right: 0;
  color: rgb(0, 102, 255);
}
.goback{
  position: absolute;
  cursor: pointer;
  left: 0;
  color: rgb(0, 102, 255);
}
.popoverContent{
  padding-bottom: 10px;
  /* padding: 5px; */
  overflow: hidden;
}
.card{
  margin-top: 10px;
  max-height: 300px;
  overflow: auto;
}
.option{
  border-bottom: 1px solid rgb(238, 238, 238);
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.card .option:last-child{
  border-bottom: none;
}
.svg{
  margin-top: 15px;
}
.countHead{
  display: flex;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
}
.countHead div{
  flex:1;
}
.countHead div:first-child>span{
  color: #773f4c;
}
.countHead div:last-child>span{
  color: #899b83;
}
