*{
  margin: 0;
  padding: 0;
}

.container{
  font-size: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: auto;
  position: absolute;
}

.side{
  background-color: rgb(248,248,248);
  overflow: hidden;
  z-index: 32!important;
}

.content{
  position: absolute;
  height: 100%;
  width: auto!important;
  min-width: 800px;
  margin-left: 200px;
  left: 0;
  right: 0;
  background-color: rgb(248,248,248);
  border-left:1px solid rgb(237,237,237) ;
  z-index: 33!important;
  font-weight: 500;
  /* overflow: auto; */
}

.addButoon{
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 150px;
  background-color: orange;
  border:1px solid orange;
  border-radius: 7px;
  height: 50px;
  font-size: 22px;
  line-height: 22px;
}

.font{
  background-color: rgb(248,248,248);
  margin: 50px 0!important;
  font-size: 20px !important;
  height: 50px!important;
  line-height: 50px!important;
  font-weight: 600;
}
.site-layout-background{
  background-color: #fff!important;
}
.white{
  background-color: #fff!important;
  color: #fff!important;
}
/* main区域被推出来 */
.mainMoveOut{
  transform: translateX(-80px);
  transition: all 0.1s linear;
}

.mainMoveIn{
  transform: translateX(00px);
  transition: all 0.1s linear;
}