.container{
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
}
.title{
  position: absolute;
  top: -50px;
  z-index: 100;
  margin-left: 50%;
  transform: translateX(-50%);
}
.head{
  height: 120px;
  width: 100%;
  background-color: #dfe0e1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding : 40px 40px 0;
}
.count{
  display: flex;
  flex-direction: column;
}
.count span {
  font-weight: 600;
  font-size: 20px;
}
.count div{
  font-size: 15px;
  color: #646a75;
  width: 100%;
}
.stream{
  height: 100%;
  width: 100%;
  margin-top: 120px;
  background-color: #fff;
}
.progress{
  padding: 20px;
  padding-bottom: 10px;
  background-color: rgb(209, 209, 209);
  border-bottom: 1px solid rgb(206, 206, 206);
}
.headContent{
  display: flex;
  justify-content: center;
  background-color:  rgb(250,211,71) ;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.turning{
  cursor: pointer;
  margin: auto 5px;
  color: #a96c37;
}
.row{
  display: flex;
  justify-content: space-between;
  padding: 10px 35px 10px 5px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}
.collapsHead{
  background-color: rgb(209, 209, 209);
  display: flex;
}
.headDisplay{
  flex:1;
  padding:  10px;
  display: flex;
  justify-content: space-between;
}