.ant-collapse-content-box{
  background-color: rgb(248,248,248)!important;
  padding: 0!important;
  margin: 0!important;
}
.ant-btn-danger:hover, .ant-btn-danger:focus{
  color: white;
  background:orange;
}
.ant-drawer-body{
  margin: 0;
  padding: 0;
  background-color: rgb(248,248,248);
}
.ant-drawer-body h1{
  font-size: 1.5em;
}

.ant-collapse-header{
  overflow: hidden;
  border: 0px;
  border-radius: 2px;
  padding: 0!important;
}
.ant-collapse-content {
  background-color: rgb(248,248,248);
}
.balanceProgress .ant-progress-inner{
  background-color: #dbdbda;
}
.monthBalance .ant-progress,
.monthBalance .ant-progress-outer,
.monthBalance .ant-progress-inner{
  width: 100px;
  height: 2px;
  margin: -8px 0 -5px 0;
}
.monthBalance .ant-progress-bg{
  transform: translateY(-1px);
  height: 4px;
}
.monthBalance .ant-progress-inner{
  background-color: rgb(209, 209, 209);
}

.balanceA .ant-progress,
.balanceA .ant-progress-outer,
.balanceA .ant-progress-inner{
  margin: -25px 0 -5px 0!important;
}

#root{
  min-width: 1000px!important;
}

 .ant-popover-inner-content{
  padding: 0!important;
  background-color: rgb(248,248,248);
  border-radius:0 0 15px 15px;
}
.ant-popover-inner{
  border-radius: 15px;
}
.pop .ant-card-body{
  padding: 12px;
}
